

/*html,*/
/*body {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*user-select: none;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background: #f0f0f0;*/
    /*cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,*/
    /*auto;*/
/*}*/

.draggable-main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.content {
    position: relative;
    width: 320px;
    height: 240px;
}

.content > div {
    position: absolute;
    width: 320px;
    height: 90px;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    border-radius: 5px;
    color: white;
    line-height: 90px;
    padding-left: 32px;
    font-size: 14.5px;
    background: lightblue;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content > div:nth-child(1) {
    background-color: #861657;
    background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
}
.content > div:nth-child(2) {
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}
.content > div:nth-child(3) {
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}
.content > div:nth-child(4) {
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}
.div-disabled{
    opacity: 0.5;
}
.main-container{
    display: block !important;

}

.disable-div{
    background-color: #CCCCCC;
}
.card-main {
    width:100%;
    height: auto;
    color:white;
    border-radius:10px;
    display: flex;
    flexDirection: row ;
    justify-content: center;
    align-content: center;
    min-height: 100px;
}

.card-main > * {
    flex-basis: 0;
}
.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkbox-round:checked {
    background-color: gray;
}
.card-title{
    flex-grow: 1;
    font-size: 0.8em;
    line-height: 1.2;
    margin-top: 30px;
}

.card-comments{
    font-size: 0.7em;
    margin-top: 5px;
    flex-grow: 3;
    line-height: 1.2;
    display-style:none;
}

.card-action{
    flex-grow: 1;
    margin-left: 25px;
    display-style:none;
}

.card-disable{
    pointer-events: none;

    /* for "disabled" effect */
    opacity: 0.5;
    background: #CCC;
}

#chkPrimary{
    background-color: red;
}

.card-common{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: red;
}
